img{
    float: right;
}
h1{
    margin-top: 1px;
    margin-bottom: -10px;
    text-align: center;
}   
.ed{
    padding-bottom: 9pt;
}
body{
    background-color: lightgrey;
    opacity: 0.5;
}
@media screen and (max-width:450px) {
    body {
        background-color: darkslategray;
}

}
