body{
    background-image: url("/home/effie/Downloads/nat.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    }
.nav-bar{
    display: flex;
    justify-content: right;
    text-decoration: none;
    text-transform: uppercase;
    font-style: oblique;
    padding: 10px;
}
.nav-bar-link a {
    color: rgb(20, 18, 18);
    transition-delay: 1s ;
    transition: 1s; 
    text-underline-position:below solid white;
    padding: 10px;
    text-decoration: none;
}

.nav-bar-link a:hover{
    color: white;
}
p{
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    color: darkorange;
    padding-top: 20%;
    font-weight: bold;
}
@media screen and (min-width:500px) {
body {
    opacity:0.5;
}
}